@model LoginUser
@{
    ViewData["Title"] = "Login Page";

    //add to clearfix div
    //@Html.ActionLink("Pozabljeno geslo?", "Index", "Home", null, new { @class = "float-right" })
}
<div class="signup-container">
    <h1 class="text-center">Sign In</h1>
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.EditorForModel("Login")
    }
    <a href="" class="page-link">Can't Sign int?</a>
    <a href="" class="page-link">Create an account</a>
</div>