@model UserWithPass
@{
    ViewData["Title"] = "Registration Page";
}
<div class="signup-container">
    <h1>Sign Up</h1>
    @using (Html.BeginForm("Register", "SignUp", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("Registration")
    }
</div>