@{ 
    ViewData["Title"] = "Profile Page";
}
<div class="profile-header">
    <img id="userPic" src="C:\Users\peter\Desktop\kermit.jpg" />
    <label id="username">User139238</label>
    <label id="email">thatguy24@gmail.com</label>
    <label id="password">Member since: November 1, 2021</label>
    <label id="country">Country: Slovenia</label>
</div>