@model RegisteredUser
@{
    //only test data in here for now, change it later so it works
    ViewData["Title"] = "Profile Page";
}
<div class="profile-container">
    <div class="profile-item profile-header">
        <div class="row">
            <div class="col-sm-1">
                <img id="user-pic" src="https://pbs.twimg.com/profile_images/799653364216709120/U_wK3zP0_400x400.jpg" />
            </div>
            <div class="col-sm-auto">
                <div id="user-info">
                    <div class="row">
                        <label class="col" id="username">@Model.UserName</label>
                        <label class="col" id="email">@Model.Email</label>
                        <div class="w-100"></div>
                        <label class="col" id="membership">Member since: @Model.DateJoined.ToString("dd MMMM yyyy")</label>
                        <label class="col" id="country">Country: @Model.Country</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-item profile-custom">


    </div>
    <div class="profile-item profile-settings">
        <h2>Settings</h2>
        <div class="row">
            <div class="col-sm-auto my-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switchPublicProfile" checked>
                    <label class="form-check-label" for="switchPublicProfile">Public Profile</label>
                </div>
            </div>
            <div class="col-sm-auto my-auto">
                <div class="form-inline">
                    <label class="my-1 mr-2" for="setting4Select">Setting4</label>
                    <select class="custom-select my-1 mr-sm-2" id="setting4Select">
                        <option selected>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-auto my-auto">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-auto my-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switchNotifications">
                    <label class="form-check-label" for="switchNotifications">Notifications</label>
                </div>
            </div>
            <div class="col-sm-auto my-auto">

            </div>
            <div class="col-sm-auto my-auto">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-auto my-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switchSettings3">
                    <label class="form-check-label" for="switchSettings3">Settings3</label>
                </div>
            </div>
            <div class="col-sm-auto my-auto">


            </div>
            <div class="col-sm-auto my-auto">

            </div>
        </div>
    </div>
    <div class="profile-item profile-preferences">
        <h2>Preferences</h2>
    </div>
</div>