@{
    ViewData["Title"] = "Home Page";
}
<div class="content-main">
    <div class="content-header">
        <h1>news of the week</h1>
    </div>
    <div class="content-primary">
        <h1>Latest</h1>
        <hr />
        <div>
            <div class="articles" id="1">
                <img src="~/sign up right now_2.png"  />
                <label>
                    At the end of November we will get things rolling again with ESL PUBG Open as we have the qualifiers for Open:
                    Winter starting November 22nd! The full tournament will take place in the first two weekends of December to
                    round off the year of ESL PUBG and once again
                    there is $2,000 up for grabs!
                </label>
            </div>
            <div class="articles" id="2">
                <img src="~/2022_season_rewards_1_1600x900.png"  />
                <label>
                    LoL Esports 2022 Season Rewards and Drops Update!
                </label>
            </div>
            <div class="articles" id="3">
                <img id="simpleCSGO" src="~/S1mple-CS-GO.jpeg" />
                <label>
                    Simple wins his first Major and becomes the #1 CSGO Pro Player
                </label>
            </div>
            <div class="articles" id="4">
                <img src="~/20210829_Helena-Kristiansson_ESL-One-Fall_00874.jpg" />
                <label>
                    ESL One Fall: Bootcamp Edition has come to a close! Over the course of the past couple of weeks we’ve seen some fantastic Dota
                    and some serious upsets, with Tundra Esports being crowned Champions!
                </label>
            </div>
            <div class="articles" id="5">
                <img src="~/20191026_Bart-Oerbekke_ESL-ONE_Hamburg_25526.jpg" />
                <label>
                    Twelve teams will be competing for a $400,000 prize pool in ESL One Fall:
                    Bootcamp Edition, coming your way next month!
                </label>
            </div>
        </div>

    </div>
    <div class="content-secondary">
        <div class="recommended">

        </div>
        
    </div>
    <div class="content-footer">
        <div class="sponsors">
            <h3>Sponsors</h3>
            <img id="asus" src="~/1920px-AsusTek_logo.svg.png" />
            <img id="logitech" src="~/logitech-logo.png" />
            <img id="monster" src="~/Monster_Energy_logo.png" />
        </div>
    </div>
</div>
