@{
    ViewData["Title"] = "Home Page";
}
<div class="content-main">
    <div class="content-header">
        <h1>Latest</h1>
        <hr />
    </div>
    <div class="content-primary">
        <img src="~/sign up right now_2.png" />

    </div>
    <div class="content-secondary">
        
    </div>
    <div class="content-footer">
        
    </div>
</div>
