@{
    ViewData["Title"] = "Home Page";
}
<!--Edit with actual data-->
<div class="content-main">
    <div class="content-header">
    </div>
    <div class="content-primary">
        <h1>Latest</h1>
        <hr />
        <div>
            <div class="articles" id="1">
                <a asp-area="" asp-controller="StaticArticle" asp-action="EslPubgOpenSoon">
                    <img src="~/sign up right now_2.png" />
                </a>
                <label>
                    ESL PUBG Open is starting soon!
                </label>
            </div>
            <div class="articles" id="2">
                <a asp-area="" asp-controller="StaticArticle" asp-action="LoLS2022DropsRewards">
                    <img src="~/2022_season_rewards_1_1600x900.png" />
                </a>
                <label>
                    LoL Esports 2022 Season Rewards and Drops Update!
                </label>
            </div>
            <div class="articles" id="3">
                <a asp-area="" asp-controller="StaticArticle" asp-action="SimpleNumOne">
                    <img id="simpleCSGO" src="~/S1mple-CS-GO.jpeg" />
                </a>
                <label>
                    Simple wins his first Major and becomes the #1 CSGO Pro Player
                </label>
            </div>
            <div class="articles" id="4">
                <a asp-area="" asp-controller="StaticArticle" asp-action="EslOneFallWrapUp">
                    <img src="~/20210829_Helena-Kristiansson_ESL-One-Fall_00874.jpg" />
                </a>
                <label>
                    ESL One Fall Wrap-Up
                </label>
            </div>
            <div class="articles" id="5">
                <a asp-area="" asp-controller="StaticArticle" asp-action="EslOneFallQalifiers">
                    <img src="~/20191026_Bart-Oerbekke_ESL-ONE_Hamburg_25526.jpg" />
                </a>
                <label>
                    ESL One Fall Qualifiers
                </label>
            </div>
        </div>

    </div>
    <div class="content-secondary">
        <h3>Recommended</h3>
        <hr />
        <div class="sidebar">
            <h1>Recent streams</h1>
            <hr />
            <div class="stream">
                <iframe class="videoplayer" src="https://www.youtube.com/embed/7K0esIsbApk?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <hr />
        <div id="calendar">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                        January<br>
                        <span style="font-size:18px">2022</span>
                    </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li class="disabled">27</li>
                <li class="disabled">28</li>
                <li class="disabled">29</li>
                <li class="disabled">30</li>
                <li class="disabled">31</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li><span class="active">27</span></li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
                <li class="disabled">1</li>
                <li class="disabled">2</li>
                <li class="disabled">3</li>
                <li class="disabled">4</li>
                <li class="disabled">5</li>
                <li class="disabled">6</li>
            </ul>
        </div>
    </div>
    <div class="content-footer">
        <div class="sponsors">
            <h3>Sponsors</h3>
            <a href="https://rog.asus.com/us/"><img id="asus" src="~/1920px-AsusTek_logo.svg.png" /></a>
            <a href="https://www.logitechg.com/en-us"><img id="logitech" src="~/logitech-logo.png" /></a>
            <a href="https://www.monsterenergy.com/"><img id="monster" src="~/Monster_Energy_logo.png" /></a>
            
        </div>
    </div>
</div>
