@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="privacy-container">
    @*privacy*@
    <h2>Privacy Policy</h2>
    <p class="intro larger">
        Respecting user's privacy and protection of personal data is our top priority. We are bound
        to protect that data and to ensure it's safety and confidentiality. We highly advise you to
        take a look in detail about our privacy policy
    </p>
    <div class="content">
        <h4>Visit to the website</h4>
        <p>After every visit of the website some of the data is automaticaly stored for a certain time period</p>

        <p>
            <div class="dot"> IP number - to identify each device</div>
            <div class="dot"> Time and date of the visit</div>
        </p>


        <p>
            The purpose of collecting this data is to ensure the safety of the network and information
            to deny un-authorised access, which could endanger the integrity and trust of all saved,
            downloaded data and the security of our service.
        </p>

        <p>Such data processing is necessary for task execution .</p>

        <p>Data is stored 30 days since the time of visit</p>
    </div>

    @*cookies*@
    <h2>Cookies Policy</h2>
    <div class="content">
        <p>
            Upon visiting the web page, through the .Net Core solution in the form of "cookies", that is installed
            on our server, we collect the following data
        </p>
        <p>
            <div class="dot">IP address</div>
            <div class="dot">Location</div>
            <div class="dot">Date and time of visit</div>
            <div class="dot">Uploaded and downloaded files</div>
            <div class="dot">Searches on the site</div>
            <div class="dot">Link clicks on the site</div>
            <div class="dot">Browser version</div>
            <div class="dot">Current session</div>
        </p>

        <p>
            The purpose of collecting this data is to ensure the safety of the network and information
            to deny un-authorised access, which could endanger the integrity and trust of all saved,
            downloaded data and the security of our service.
        </p>

        <p>Such data processing is necessary for task execution .</p>

    </div>
    <p class="intro">
        All data stored is highly classified and is not distributed further.
    </p>
</div>
