/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

/*dark color: #212529*/
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background-color: #3483eb;*/
    background-color: #212529;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color:white;
}

.override-bg-dark {
    background-color: #111;
}

.dot:before {
    content: '\25CF';
}

.privacy-container {
    border-top: 5px solid #464d52;
    border-bottom: 5px solid #464d52;
    border-left: 2px solid #464d52;
    border-right: 2px solid #464d52;
    border-radius: 10px;
    background-color: white;
    width: 75%;
    height: 75%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.intro {
    font-size: 125%;
    font-weight: bold;
    color: #121111;
}

.signup-container {
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #fff;
    width: 50%;
    height: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 6px solid #464d52;
    border-radius:10px;
}

/*.profile-header {
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
}*/

#user-pic {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
}

#user-info{
    margin-top: 20px;
    margin-left: 5px;
}

.profile-container {
    display: grid;
    grid-gap: 10px;
    margin-top:30px;
    margin-bottom:100px;
    margin-left:15%;
    margin-right:15%;
}

.profile-item{
    background-color: white;
    border-style: solid;
    padding: 15px;
    
}

.profile-header{
    grid-row: 1;
    grid-column: 1 / span 4;

}
.profile-custom{
    grid-row: 2 / span 2;
    grid-column: 1;
}
.profile-settings{
    padding-left:15px;
    padding-top:20px;
    padding-bottom:20px;
    grid-row: 2;
    grid-column: 2 / span 3;
}
.profile-preferences {
    grid-row: 3;
    grid-column: 2 / span 3;
}

.user-info{
    background-color:white;
    padding:10px 20px 10px 20px;
    border-radius:5px;
}

.ui-widget-content {
    background: #1b6ec2 !important;
}

.table-container {
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top:2%;
    margin-bottom:5%;
    margin-right:15%;
    margin-left:15%;
}

.content-main {
    display: grid;
    grid-template-areas:
        'header header header header header'
        'primary primary primary secondary secondary'
        'footer footer footer footer footer';
    grid-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
}



.content-main > div{
    padding: 20px 0;
}

.content-header{
    grid-area:header;
}

.content-primary > h1{
    color:white;
    padding-left: 10px;
}
.content-primary > hr {
    color: white;
    height: 10px;
    padding-left: 10px;
}

.content-primary{
    grid-area:primary;

}

.content-primary > div{
    border-radius:10px;
    background-color:#16191c;
    color:white;
}

.content-secondary {
    grid-area: secondary;
    /*background-color: #464d52;*/
    border-radius: 10px;
}

.content-secondary > h3 {
    color: white;
    padding-left: 10px;
}

.content-secondary > hr{
    margin: 15px 10px;
    color: white;
    height: 10px;
    padding-left: 10px;
}

.content-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: footer;
    border-top: 5px solid #464d52;
    border-radius:5px;
    
}

.articles {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-areas: "item1 item2";
    align-items: center;
    border-bottom: 5px solid #464d52;
    border-radius: 15px;
}

.articles:last-child{
    border-bottom: 0px;
}

.articles:nth-child(2n+1) > label{
    grid-area: item1;
}

.articles:nth-child(2n+2) > label{
    grid-area: item2;
}

.articles:nth-child(2n+1) > img{
    grid-area: item2;
}

.articles:nth-child(2n+2) > img{
    grid-area: item1;
}

.articles > a > img {
    border-radius:10px;
    width:400px;
    height:200px;
}

#simpleCSGO{
    width:200px !important;
}

.articles > label{
    padding-left:10px;
    padding-right:10px;
    grid-area:item2;
    font-size:22px;
    font-weight:bold;
}


.sponsors {
    text-align: center;
}
.sponsors > h3{
    color:white;
}
.sponsors > a{
    margin-left:10px;
    margin-right:10px;
}
.sponsors > a > img{
    margin-left:10px;
    margin-right:10px;
    max-width:10%;
}

.article-container {
    color: white;
    display: block;
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #16191c;
    /*border-bottom: 5px solid #464d52;
    border-top: 5px solid #464d52;*/
    border: 3px solid #464d52;
    border-radius: 10px;
}

.article-img > img{
    max-width:1300px;
    max-height:600px;
}

.article-title{
    font-size:40px;
}

.article-content{
    margin-left:50px;
    margin-right:50px;
}

.article-content > .intro{
    color:white;
    font-style:italic;
    margin-top:10px;
    margin-bottom:20px;
    padding-left: 120px;
    padding-right:120px;
}

.article-main{
    padding-left:50px;
    padding-right:50px;
    padding-top:20px;
}

.article-main > h3{
    padding-top:10px;
    font-size:19px;
}

.dotted-items{
    margin-top:-10px;
    margin-left:20px;
}

.faq{
    margin-top:20px;
}
.faq > h3 {
    padding-top: 10px;
    font-size: 19px;
    font-style:italic;
}


faq > h2{
    font-size:25px;
}

.sidebar {
    background-color: #16191c;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin: 5px 10px;
}

.stream {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar > h1 {
    color: white;
    padding-left: 10px;
}

.sidebar > hr {
    color: white;
    height: 3px;
    padding-left: 10px;
}

.videoplayer {
    height: 299.812px;
    width: 533px;
}

.form-check-input:checked {
    background-color: #212529;
    border-color: #212529;
}

/*Calendar*/

#calendar{
    margin:5px 10px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
/*
body {
    font-family: Verdana, sans-serif;
}*/

.month {
    padding: 70px 25px;
    width: 100%;
    background: #16191c;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #16191c;
  color: white !important
}

.days .disabled {
    color: lightgrey !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/*Chat*/
.chatroom {
    display: grid;
    grid-gap: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-rows: 700px 60px;
    grid-template-columns: 250px 860px;
}

.chat-side {
    background-color: white;
    border-style: solid;
    padding: 15px;
    grid-row: 1 / span 2;
    grid-column: 1;
}

.chat-body {
    background-color: white;
    border-style: solid;
    padding: 15px;
    grid-row: 1;
    grid-column: 2;
}

.chat-input {
    background-color: white;
    border-style: solid;
    padding: 15px;
    grid-row: 2;
    grid-column: 2;
}

.user{
    color:red;
}