@{
    ViewData["Title"] = "ESL One Fall Qualifiers";
}
<div class="article-container">
    <div class="text-center">
        <div class="article-img">
            <img src="~/20191026_Bart-Oerbekke_ESL-ONE_Hamburg_25526.jpg" />
        </div>
        <div class="article-title">
            ESL One Fall Qualifiers
        </div>
    </div>
    <div class="article-content">
        <div class="intro text-center">
            Twelve teams will be competing for a $400,000 prize pool in ESL One Fall: Bootcamp Edition, coming your way next month!
        </div>
        <div class="article-main">
            <p>Open Qualifiers for the tournament will be held on the 7th and 8th of August. You can sign up for the Qualifiers here:</p>
            <div class="dotted-items">
                <div class="dot"><a class="link-light" href="https://play.eslgaming.com/dota2/europe/dota2/challenger/esl-one-fall-2021-eu-open-qualifier/">Open Qualifier 1</a></div>
                <div class="dot"><a class="link-light" href="https://play.eslgaming.com/dota2/europe/dota2/challenger/esl-one-fall-2021-eu-open-qualifier-2/">Open Qualifier 2</a></div>
            </div>
            <p>
                Two teams from each Open Qualifier will advance to the Closed Qualifier running from August 9th to 11th, alongside four direct invites.
                Of these eight teams, two will advance to the Main Tournament starting August 21st.
            </p>
            <p>
                Direct invites to the Main Tournament will be announced soon!
            </p>
        </div>
    </div>
</div>
