@{
    ViewData["Title"] = "ESL One Fall Wrap-Up";
}
<div class="article-container">
    <div class="text-center">
        <div class="article-img">
            <img src="~/20210829_Helena-Kristiansson_ESL-One-Fall_00874.jpg" />
        </div>
        <div class="article-title">
            ESL One Fall Wrap-Up
        </div>
    </div>
    <div class="article-content">
        <div class="intro text-center">
            ESL One Fall: Bootcamp Edition has come to a close! Over the course of the past couple of weeks we’ve seen some fantastic
            Dota and some serious upsets, with Tundra Esports being crowned Champions! Here’s everything you need to know:
        </div>
        <div class="article-main">
            <h3>
                Summary:
            </h3>
            <p>
                Prize Pool: $400,000
            </p>
            <p>
                Teams: 12 (10 direct invites, 2 from qualifiers)
                <div class="dotted-items">
                    <div class="dot">Alliance</div>
                    <div class="dot">
                        Team Liquid
                    </div>
                    <div class="dot">
                        Team Spirit
                    </div>
                    <div class="dot">T1</div>
                    <div class="dot">
                        Thunder Predator
                    </div>
                    <div class="dot">
                        PSG.LGD
                    </div>
                    <div class="dot">beastcoast</div>
                    <div class="dot">
                        Virtus.Pro
                    </div>
                    <div class="dot">
                        Tundra Esports
                    </div>
                    <div class="dot">
                        SG Esports
                    </div>
                    <div class="dot">
                        Team Empire
                    </div>
                    <div class="dot">Creepwave</div>
                </div>
            </p>
            <p>Playoff VODS: <a class="link-light" href="https://www.twitch.tv/esl_dota2">twitch.tv/esl_dota2</a></p>
            <h3>The Group Stage</h3>
            <p>
                Kicking off the tournament on August 21st, the Group Stage promised to be action packed from the get-go; Group A had two-time DPC Champions
                Virtus.pro and ESL One Summer victors T1, whilst Group B had DreamLeague DPC Champions Alliance and the previous Major winners PSG.LGD.
                Furthermore, the new Dota patch 7.30 had dropped a couple days before, giving some fresh new balance changes to the game.
            </p>
            <p>
                In Group A, it quickly became clear that Virtus.pro was the dominant team; in fact they didn’t lose a single
                game in the whole Group Stage! More surprising was Tundra Esports success, managing to beat every opponent they faced with the
                exception of VP. ESL One Summer champs T1
                struggled to stay afloat, whilst Creepwave and Thunder Predator sunk to the bottom and were knocked out.
            </p>
            <p>
                Group B was far more contested, with no clear dominant team. South American team beastcoast managed to surpass
                PSG.LGD in points, taking the top of the leaderboard, with the Chinese team
                coming second. Team Liquid and SG esports unfortunately fell short and were sent packing after a string of losses.
            </p>
            <h3>The Playoffs</h3>
            <p>
                Virtus.pro got to work instantly, knocking PSG.LGD down to the Lower Bracket in a convincing 2-0,
                whilst Tundra Esports did the same to beastcoast. When these two dominant teams met in the Upper Bracket Finals,
                to many people’s shock it was Tundra that came out of the series unscathed with a
                remarkable 2-0 against VP. People were also shocked to find out team captain Fata didn’t know how a bottle worked.
            </p>
            <p>
                In the Lower Bracket, T1 KO-d DPC Champs Alliance with a 2-1, and then went on to knock out the last remaining South American
                team beastcoast. However, when T1 met PSG.LGD in the Lower Bracket Round 3, it was the Chinese Major winners who ended up taking the victory.
                PSG.LGD then went on to knock out Virtus.pro 2-1, putting a surprising end to VP’s dominant performance in the tournament so far.
            </p>
            <p>
                Many fans had expected PSG.LGD to make it to the Grand Finals, but not many had put down Tundra Esports to be a
                Grand Finalist. However, despite the fact Tundra had failed to qualify for The International, they were a serious force to be
                reckoned with. The fairly recent addition of Sneyking to pos 4 had clearly had a superb impact on the team, as they managed to easily
                take Game 1 off PSG.LGD in just 32 minutes. The Major winners were not going to go down without a fight though, and LGD swiped two games
                off of Tundra Esports thanks to xiao8’s mid Leshrac. The next two games were a nail-biting 50 minutes each, with both teams giving it their all.
                Finally off of a Tier 3 tower dive
                Tundra Esports wiped PSG.LGD and with no buybacks, the Chinese team were forced to concede the 5th and final game.
            </p>
            <p>
                Hopefully we see Tundra Esports continue to dominate in the post-TI season!
            </p>
        </div>
    </div>
</div>

