@{
    ViewData["Title"] = "ESL PUBG Open Coming Soon";
}
<div class="article-container">
    <div class="text-center">
        <div class="article-img">
            <img src="~/sign up right now_2.png" />
        </div>
        <div class="article-title">
            ESL PUBG Open is starting soon!
        </div>
    </div>
    <div class="article-content">
        <div class="intro text-center">
            After ESL PUBG Open: Summer we are back once again with yet another iteration
            of the tournament series, the ESL PUBG Open: Fall.The qualification for Open:
            Fall starts on September 22nd, so it’s time to sign-up your squad!
        </div>
        <div class="article-main">
            <h3>The full dates for all the stages is as follows:</h3>
            <p>
                Qualifiers: September 22nd, 23rd & 24th
                <br />
                Upper Bracket: September 29th
                <br />
                Lower Bracket: September 30th & October 1st
                <br />
                Grand Finals: October 9th & 10th
            </p>
            <h3>Format Changes</h3>
            <p>
                Following <a class="link-light" href="https://www.pubgesports.com/en/news/1105/view">yesterday’s announcement by PUBG Esports </a>
                we are also implementing the SUPER Point Rule into ESL PUBG Open:
                Fall. The format will therefore replace the previously used MC Rule
                meaning that instead of earning Chicken Dinners teams will need to earn both
                placement points and kill points for a high place on the leaderboards. We are always open to
                feedback from both teams and fans and continue to
                work towards the most enjoyable competitive environment.
            </p>
            <h3>Registration</h3>
            <p>
                The registration to ESL PUBG Open: Fall will be open as of now
                and you and your squad will be able to sign up until September 21, 23:59 CEST.
            </p>
            <p>
                You can now register via the following link: <a class="link-light" href="https://esl.gg/open-fall-qualifiers">https://esl.gg/open-fall-qualifiers</a>
            </p>
        </div>
    </div>
</div>