@inject Microsoft.AspNetCore.Identity.SignInManager<RegisteredUser> _logInManager
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Events</a>
</li>

@if (_logInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" id="EplayProView">Pro view</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="ChatRoom" asp-action="Index">Chat room</a>
    </li>
    @if (User.IsInRole("Premium"))
    {

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Challenges</a>
        </li>
    }
}